<div class="register-container">
  <h2>Register User</h2>
  <form (ngSubmit)="register()" #registerForm="ngForm">
    <div class="form-group">
      <label>Username</label>
      <input
        type="text"
        name="username"
        placeholder="Enter username"
        [(ngModel)]="registerRequest.userName"
        required
      />
    </div>

    <div class="form-group">
      <label>Email</label>
      <input
        type="email"
        name="email"
        placeholder="Enter email"
        [(ngModel)]="registerRequest.email"
        required
      />
    </div>

    <div class="form-group">
      <label>Password</label>
      <input
        type="password"
        name="password"
        placeholder="Enter password"
        [(ngModel)]="registerRequest.password"
        required
      />
    </div>

    <button type="submit" [disabled]="!registerForm.valid">Register</button>
  </form>
</div>
