<app-nav-bar> </app-nav-bar>

<div class="search-container">
  <input
    type="text"
    placeholder="Find your favorite book"
    [(ngModel)]="searchText"
  />

  <div class="filter-wrapper">
    <span class="filter-icon" #filterIcon (click)="toggleFilter()">
      <i class="fas fa-filter"></i>
    </span>

    @if( toggleFilterDropdown) {
    <div class="filter-dropdown" #filterDropdown>
      <label>
        <input
          type="radio"
          name="filter"
          value="title"
          [(ngModel)]="searchBy"
        />
        Title
      </label>
      <label>
        <input
          type="radio"
          name="filter"
          value="author"
          [(ngModel)]="searchBy"
        />
        Author
      </label>
      <label>
        <input
          type="radio"
          name="filter"
          value="price"
          [(ngModel)]="searchBy"
        />
        Price
      </label>
      <!-- <select [(ngModel)]="searchBy">
        <option value="title">Title</option>
        <option value="author">Author Name</option>
        <option value="price">Price</option>
      </select> -->
    </div>
    }
  </div>
</div>

<div class="book-grid">
  <!-- <div *ngIf="filteredBooks.length > 0; else noBooksFound"></div> -->

  @if (filteredBooks.length > 0) { @for (book of filteredBooks; track book.id) {
  <div class="book-card">
    <img
      [src]="book.imageUrl || 'no-image-default.png'"
      alt="{{ book.title }}"
    />

    <h3>{{ book.title }}</h3>
    <p>By {{ book.authorName }}</p>
    <p class="price">₹{{ book.price }}</p>
    <button>Buy Now</button>
    <button class="button-del">Delete</button>
  </div>
  } } @else {
  <div class="no-found">
    <img src="no-books-found.png" alt="No books found" />
    <p>OOPS! No books found for "{{ searchText }}"</p>
  </div>
  }

  <!-- <div class="book-card" *ngFor="let book of booksData">
    <img
      [src]="book.imageUrl || 'no-image-default.png'"
      alt="{{ book.title }}"
    />
    <h3>{{ book.title }}</h3>
    <p>By {{ book.authorName }}</p>
    <p class="price">₹{{ book.price }}</p>
    <button>Buy Now</button>
    <button class="button-del">Delete</button>
  </div> -->
</div>
