/* Books Grid */
.book-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
  padding: 20px;
}

.book-card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  text-align: center;
  transition: transform 0.2s ease;
}

.book-card:hover {
  transform: scale(1.02);
}

.book-card img {
  max-width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.book-card h3 {
  margin: 12px 0 4px;
  font-size: 1.2rem;
}

.book-card .price {
  color: green;
  font-weight: bold;
  margin-bottom: 8px;
}

.book-card button {
  padding: 8px 16px;
  background-color: #ff9900;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 8px;
}
.book-card .button-del {
  padding: 8px 16px;
  background-color: #fe0000;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.book-card button:hover {
  background-color: #e68a00;
}
.book-card .button-del:hover {
  background-color: #e60101;
}

/* Books Not Found */
.no-found {
  text-align: center;
  padding: 40px;
}

.no-found img {
  max-width: 250px;
  opacity: 0.8;
}

.no-found p {
  font-size: 18px;
  color: #666;
  margin-top: 15px;
}

/* Search Container */
.search-container {
  display: flex;
  justify-content: left;
  margin: 20px 0;
}

.search-container input {
  width: 300px;
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: all 0.3s ease;
}

/* Highlight on focus */
.search-container input:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
}

/* Grid for books */
.book-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
}

.filter-icon {
  cursor: pointer;
  font-size: 18px;
  color: #555;
}

.filter-dropdown {
  position: absolute;
  top: 0; /* align vertically with icon */
  left: 30px; /* space between icon and dropdown */
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 8px 12px 8px 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 120px; /* fixed width for dropdown */
  min-width: 0;
}

.filter-dropdown label {
  display: flex;
  align-items: center;
  gap: 10px; /*space between radio button and text */
  margin: 0;
  padding: 0;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  justify-content: flex-start;
  line-height: 1.2;
}

.filter-dropdown input[type="radio"] {
  position: relative;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  accent-color: #a71cec;
  vertical-align: middle;
  width: 18px;
  height: 18px;
}

.filter-wrapper {
  display: flex;
  position: relative; /* ensures dropdown stays near filter */
  align-items: center;
}
