<app-nav-bar> </app-nav-bar>

<div class="search-container">
  <input
    type="text"
    placeholder="Find your favorite coffee"
    [(ngModel)]="searchText"
  />

  <div class="filter-wrapper">
    <span class="filter-icon" #filterIcon (click)="toggleFilter()">
      <i class="fas fa-filter"></i>
    </span>

    @if( toggleFilterDropdown) {
    <div class="filter-dropdown" #filterDropdown>
      <label>
        <input type="radio" name="filter" value="name" [(ngModel)]="searchBy" />
        Name
      </label>
      <label>
        <input
          type="radio"
          name="filter"
          value="coffeeType"
          [(ngModel)]="searchBy"
        />
        Coffee Type
      </label>
      <label>
        <input
          type="radio"
          name="filter"
          value="price"
          [(ngModel)]="searchBy"
        />
        Price
      </label>
    </div>
    }
  </div>
</div>

<div class="book-grid">
  @if (filteredCoffees.length > 0) { @for (coffee of filteredCoffees; track
  coffee.coffeeId) {
  <div class="book-card">
    <img
      [src]="coffee.imageUrl || 'no-image-default.png'"
      alt="{{ coffee.name }}"
    />

    <h3>{{ coffee.name }}</h3>
    <p>{{ coffee.coffeeType }}</p>
    <p>{{ coffee.description }}</p>
    <p class="price">₹{{ coffee.price }}</p>
    <button (click)="buyCoffee(coffee)">Buy Now</button>
  </div>
  } } @else{
  <div class="no-found">
    <!-- <img src="no-coffee-found.png" alt="No Coffees Found" /> -->
    <p>OOPS! No coffees found for "{{ searchText }}"</p>
  </div>
  }
</div>
