<div class="order-success-container">
  <h2>Order Placed Successfully! 🤓</h2>
  <div class="ordered-book-details">
    <img
      [src]="orderedBook.imageUrl"
      alt="{{ orderedBook.title }}"
      class="book-image"
    />
    <div class="book-info">
      <h3 class="book-title">{{ orderedBook.title }}</h3>
      <p class="book-author">By {{ orderedBook.authorName }}</p>
      <p class="book-price">Price: ₹{{ orderedBook.price }}</p>
    </div>
  </div>
  <p>Thank you for coming to <span class="brand">BookWarm</span>!</p>
  <a routerLink="/books" class="back-btn">Back to Books</a>
</div>
